
// sizes
$popover-width: 300px;
$popover-height: 500px;

// font sizes
$fs-xxsmall: .25rem;
$fs-xsmall: .5rem;
$fs-small: .75rem;
$fs-medium: 1rem;
$fs-medium-large: 1.25rem;
$fs-large: 1.5rem;
$fs-xlarge: 2rem;
$fs-xxlarge: 2.5rem;
$fs-xxxlarge: 3rem;

// font weights
$fw-thin: 100;
$fw-semi-thin: 200;
$fw-regular: 300;
$fw-semi-bold: 400;
$fw-bold: 500;

// colors
$light-blue: rgba(191, 205, 220, 0.568);
$semi-white: rgb(214, 211, 211);
$less-black: rgb(36, 36, 36);
$sorta-black: rgba(0, 0, 0, 0.87);
$light-grey: rgb(160, 160, 160);
$lighter-grey: rgb(195, 195, 195);
$meevee-theme-blue: rgba(2,0,112,1);
$meevee-theme-purple: rgba(129,1,254,1);
